In [38]:
import os
import glob
import pandas as pd
import shutil
from PIL import Image

# Split tarin & test images

In [27]:
train_df = pd.read_csv('./raw/train.csv')
test_df = pd.read_csv('./raw/test.csv')


images_dir = './raw/images'
train_dir = './dataset/train/images'
test_dir = './dataset/test/images'

if os.path.exists(train_dir):
    shutil.rmtree(train_dir)

os.mkdir(train_dir)

for image in train_df.image_path.unique():
    shutil.copyfile(os.path.join(images_dir, image), os.path.join(train_dir, image))
    

if os.path.exists(test_dir):
    shutil.rmtree(test_dir)

os.mkdir(test_dir)

for image in test_df.image_path.unique():
    shutil.copyfile(os.path.join(images_dir, image), os.path.join(test_dir, image))

# Get classes

In [35]:
classes = train_df.drop_duplicates('name').sort_values(by='class').reset_index()
classes = classes[['name', 'class']]
classes

                 name  class
0            GRAFFITI    0.0
1       FADED_SIGNAGE    1.0
2            POTHOLES    2.0
3             GARBAGE    3.0
4   CONSTRUCTION_ROAD    4.0
5      BROKEN_SIGNAGE    5.0
6     BAD_STREETLIGHT    6.0
7       BAD_BILLBOARD    7.0
8        SAND_ON_ROAD    8.0
9    CLUTTER_SIDEWALK    9.0
10      UNKEPT_FACADE   10.0

# Convert dimensions

In [64]:
def convert_dimensions(path=train_dir, df=train_df):
    xs = [] 
    ys = [] 
    ws = [] 
    hs = []
    
    n_xs = [] 
    n_ys = [] 
    n_ws = [] 
    n_hs = []
    
    df = df.reset_index()
    for i in df.index:
        image = Image.open(os.path.join(path,df.iloc[i].image_path))
        height = image.height
        width = image.width
        
        xmax = df.iloc[i].xmax
        xmin = df.iloc[i].xmin
        ymax = df.iloc[i].ymax
        ymin = df.iloc[i].ymin
        
        x = xmin
        y = ymin
        w = xmax - xmin
        h = ymax - ymin
        
        n_x = xmin / width
        n_y = ymin / height
        n_w = (xmax - xmin) / width
        n_h = (ymax - ymin) / height
        
        xs.append(x)
        ys.append(y)
        ws.append(w)
        hs.append(h)
        
        n_xs.append(n_x)
        n_ys.append(n_y)
        n_ws.append(n_w)
        n_hs.append(n_h)
    
    return (xs, ys, ws, hs, n_xs, n_ys, n_ws, n_hs)

In [65]:
new_training_dimensions = convert_dimensions()

In [66]:
train_df['x'] = new_training_dimensions[0]
train_df['y'] = new_training_dimensions[1]
train_df['w'] = new_training_dimensions[2]
train_df['h'] = new_training_dimensions[3]

train_df['n_x'] = new_training_dimensions[4]
train_df['n_y'] = new_training_dimensions[5]
train_df['n_w'] = new_training_dimensions[6]
train_df['n_h'] = new_training_dimensions[7]

In [67]:
train_df.head()

,class,image_path,name,xmax,xmin,ymax,ymin,x,y,w,h,n_x,n_y,n_w,n_h
0,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,797.0,701.0,262.0,211.0,701.0,211.0,96.0,51.0,0.365104,0.195370,0.050000,0.047222
1,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,932.0,786.0,329.0,238.0,786.0,238.0,146.0,91.0,0.409375,0.220370,0.076042,0.084259
2,3.0,4a48c42c9579ec0399e6c5a3e825e765.jpg,GARBAGE,736.0,657.0,275.0,229.0,657.0,229.0,79.0,46.0,0.342187,0.212037,0.041146,0.042593
3,7.0,ea906a663da6321bcef78be4b7d1afff.jpg,BAD_BILLBOARD,986.0,786.0,136.0,0.0,786.0,0.0,200.0,136.0,0.409375,0.000000,0.104167,0.125926
4,8.0,1c7d48005a12d1b19261b8e71df7cafe.jpg,SAND_ON_ROAD,667.0,549.0,228.0,179.0,549.0,179.0,118.0,49.0,0.285938,0.165741,0.061458,0.045370

# Object detection

In [ ]:
def object_dtection(image_path):
    pass
object_dtection(os.path.join(train_dir, '000b0fd767c5ab2656b7ed8d43674777.jpg'))