In [86]:
import pandas as pd

In [87]:
df = pd.read_csv('outputs/final_output_2.csv')

In [88]:
df.dtypes

class           int64
image_path     object
name           object
xmax          float64
xmin          float64
ymax          float64
ymin          float64
dtype: object

In [89]:
df.xmax = df.xmax /2 
df.ymax = df.ymax / 2
df.xmin = df.xmin / 2 
df.ymin = df.ymin / 2

In [56]:
# df.xmax = df.xmax.astype(int)
# df.ymax = df.ymax.astype(int)
# df.xmin = df.xmin.astype(int)
# df.ymin = df.ymin.astype(int)

In [57]:
new = pd.DataFrame()
for image in df.image_path.unique():
    tmp = df[(df.image_path == image)]
    pot = tmp[tmp['class']== 9]
    if len(pot) >= 3:
        pot = pot.sample(3)
        tmp = tmp[tmp['class'] != 2]
        tmp = pd.concat([tmp, pot])
    new = pd.concat([new, tmp])

In [58]:
#new = df.copy()
new = new[['class','image_path','name','xmax','xmin','ymax','ymin']]
new.to_csv('new.csv', index=False)

In [8]:
tmp

,class,image_path,name,xmax,xmin,ymax,ymin
6878,9,984841724143c66506986b3faa50e4b9.jpg,CLUTTER_SIDEWALK,960.0,762.5,319.5,193.5
6879,9,984841724143c66506986b3faa50e4b9.jpg,CLUTTER_SIDEWALK,846.0,587.0,315.5,206.5
6880,9,984841724143c66506986b3faa50e4b9.jpg,CLUTTER_SIDEWALK,664.0,164.5,326.0,202.0
6881,3,984841724143c66506986b3faa50e4b9.jpg,GARBAGE,299.5,229.0,295.0,233.5
6882,9,984841724143c66506986b3faa50e4b9.jpg,CLUTTER_SIDEWALK,319.0,0.0,335.0,204.0
6879,9,984841724143c66506986b3faa50e4b9.jpg,CLUTTER_SIDEWALK,846.0,587.0,315.5,206.5
6880,9,984841724143c66506986b3faa50e4b9.jpg,CLUTTER_SIDEWALK,664.0,164.5,326.0,202.0
6878,9,984841724143c66506986b3faa50e4b9.jpg,CLUTTER_SIDEWALK,960.0,762.5,319.5,193.5

In [9]:
new

,class,image_path,name,xmax,xmin,ymax,ymin
0,3,8aa9b7f07715e15490f5466c6d36e53b.jpg,GARBAGE,113.5,0.0,324.5,153.0
1,3,8aa9b7f07715e15490f5466c6d36e53b.jpg,GARBAGE,497.0,447.5,521.5,477.0
2,3,8aa9b7f07715e15490f5466c6d36e53b.jpg,GARBAGE,193.5,0.0,361.0,135.0
3,3,8aa9b7f07715e15490f5466c6d36e53b.jpg,GARBAGE,110.0,0.0,402.0,210.5
4,3,8aa9b7f07715e15490f5466c6d36e53b.jpg,GARBAGE,959.5,929.0,315.5,234.5
...,...,...,...,...,...,...,...
6881,3,984841724143c66506986b3faa50e4b9.jpg,GARBAGE,299.5,229.0,295.0,233.5
6882,9,984841724143c66506986b3faa50e4b9.jpg,CLUTTER_SIDEWALK,319.0,0.0,335.0,204.0
6879,9,984841724143c66506986b3faa50e4b9.jpg,CLUTTER_SIDEWALK,846.0,587.0,315.5,206.5
6880,9,984841724143c66506986b3faa50e4b9.jpg,CLUTTER_SIDEWALK,664.0,164.5,326.0,202.0
6878,9,984841724143c66506986b3faa50e4b9.jpg,CLUTTER_SIDEWALK,960.0,762.5,319.5,193.5

In [10]:
df.shape

(6883, 7)

In [59]:
def remove_overlap(df):
    output = pd.DataFrame()
    for image in df.image_path.unique():
        check = df[df.image_path == image].sort_values(by='xmax', ascending=False)
        check = check.reset_index()
        del check['index']
        
#         display(check)
        
        res = []
        for i in check.index:
            j = i + 1
            if j < len(check):
                c_xmin = check.iloc[i].xmin
                p_xmax = check.iloc[j].xmax
                
                if c_xmin > p_xmax and check.iloc[i]['class'] == check.iloc[j]['class']:
                    res.append(1)
                else:
                    res.append(0)
        res.append(1)
#         print(res)
        
        check['keep'] = res
        
        output = pd.concat([output, check[check.keep == 1]])
    return output

In [60]:
df = remove_overlap(df)

In [61]:
df.shape

(4148, 8)

In [62]:
df = df[['class','image_path','name','xmax','xmin','ymax','ymin']]
df.to_csv('df.csv', index=False)

In [227]:


df = pd.read_csv('outputs/results_conf.csv')
df.shape

df.xmax = df.xmax /2 
df.ymax = df.ymax / 2
df.xmin = df.xmin / 2 
df.ymin = df.ymin / 2

per = df[df.confidence >= 0.43]

non = df[~df.image_path.isin(per.image_path.unique())]

non.image_path.nunique()

non = non.sort_values(by=['image_path', 'confidence'], ascending=False)
non = non.drop_duplicates('image_path', keep='first')
non

o = pd.concat([per, non])

o = o[['class','image_path','name','xmax','xmin','ymax','ymin']]
o.to_csv('o.csv', index=False)

In [246]:
df = pd.read_csv('outputs/results_conf.csv')
df.shape

(23220, 8)

In [247]:
df.dtypes

xmin          float64
ymin          float64
xmax          float64
ymax          float64
confidence    float64
class           int64
name           object
image_path     object
dtype: object

In [248]:
df.xmax = df.xmax /2 
df.ymax = df.ymax / 2
df.xmin = df.xmin / 2 
df.ymin = df.ymin / 2

In [249]:
per = df[df.confidence >= 0.43]

In [250]:
non = df[~df.image_path.isin(per.image_path.unique())]

In [251]:
non.image_path.nunique()

308

In [252]:
non_2 = pd.DataFrame()

for image in non.image_path.unique():
    tmp = non[non.image_path == image].sort_values(by='confidence', ascending=False)
    tmp = tmp.reset_index()
    tmp = tmp.head(3)
    
    non_2 = pd.concat([non_2, tmp])

In [253]:
o = pd.concat([per, non_2])

In [254]:
o.shape

(5100, 9)

In [255]:
o = o[['class','image_path','name','xmax','xmin','ymax','ymin']]
o.to_csv('o.csv', index=False)

In [241]:
df[df['class']==3].describe()

,xmin,ymin,xmax,ymax,confidence,class
count,10882.000000,10882.000000,10882.000000,10882.000000,10882.000000,10882.0
mean,424.256739,230.360392,512.651829,304.657512,0.170314,3.0
std,328.543383,77.532468,331.230956,83.594398,0.229829,0.0
min,0.000000,0.000000,18.443874,11.313635,0.010006,3.0
25%,98.670181,178.052158,205.718525,246.157703,0.017706,3.0
50%,407.669952,219.927818,510.340134,292.616837,0.044571,3.0
75%,720.098328,275.012268,834.693436,353.825233,0.237355,3.0
max,943.244995,507.537079,960.000000,540.000000,0.866660,3.0