In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
df['name'] = ['garbage', 'pot']
df['count'] = [2, 3]
df

      name  count
0  garbage      2
1      pot      3

In [9]:
df[df['name'] =='garjbage']['count']

Series([], Name: count, dtype: int64)

In [7]:
try:
    GRAFFITI= results_agg[results_agg['name'] =='GRAFFITI']['count'].values[0]
except:
    GRAFFITI = 0